<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find Robot_Gantry_Gazebo_description)/urdf/Robot_Gantry_Gazebo.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" exec="spawn_model" args="-param robot_description -urdf -model Robot_Gantry_Gazebo"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
